# アクセス許可設定
DirectoryIndex index.html index.php

# 全ファイルへのアクセスを許可
Require all granted

# MIME Type設定
AddType text/html .html
AddType image/jpeg .jpg .jpeg
AddType image/png .png
AddType image/svg+xml .svg
AddType text/css .css
AddType application/javascript .js
