# Composer
/vendor/

# Environment
.env

# Storage
/storage/uploads/*
!/storage/uploads/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep

# Database
*.db
*.sqlite
*.sqlite3

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Temporary files
*.log
*.tmp
*.cache
